<!-- <link rel="stylesheet" type="text/css" href="../assets/css/menuLateralCadastro.css">
<script src="../assets/js/menuLateralCadastro.js"></script> -->
<link rel="stylesheet" type="text/css" href="/webfolioAdmin/assets/css/menuLateralCadastro.css">


<div class="bodyMenuCadastro">
    <!-- <div id="pesquisa">
    <!-- <img src="../assets/img/lupa.png" id="iconLupa" title="Pesquisar">
    <input type="text" placeholder="conteúdo cadastrado" id="inputPesquisa">
  </div> -->

      {{dump(dadosMenuLateralCadastro)}}
    <div class="arrowCadastro"></div><a class="itemCadastro" onclick="submenuCadastro('port')">Portfólios<div class="arrow"></div></a>
    <div class="submenuCadastro" id="subMPortfolios">
        {% for portfolio in dadosMenuLateralCadastro.arrayDadosPortfolios %}
            <a href="#" class="subitemCadastro">{{portfolio.dsTitle}}</a>
        {%endfor%}

    </div>

    <div class="arrowCadastro"></div><a class="itemCadastro" onclick="submenuCadastro('prop')">Propositores<div class="arrow"></div></a>
    <div class="submenuCadastro" id="subMPropositores">
        {% for propositores in dadosMenuLateralCadastro.arrayDadosPropositores %}
            <a href="#" class="subitemCadastro">{{propositores.nmUser}}</a>
        {%endfor%}
    </div>

    <div class="arrowCadastro"></div><a class="itemCadastro" onclick="submenuCadastro('tutor')">Tutores<div class="arrow"></div></a>
    <div class="submenuCadastro" id="subMTutores">
        {% for tutores in dadosMenuLateralCadastro.arrayDadosTutores %}
            <a href="#" class="subitemCadastro">{{tutores.nmUser}}</a>
        {%endfor%}
    </div> 

    <div class="arrowCadastro"></div><a class="itemCadastro" onclick="submenuCadastro('aluno')">Alunos<div class="arrow"></div></a>
    <div class="submenuCadastro" id="subMAlunos">
       {% for alunos in dadosMenuLateralCadastro.arrayDadosAlunos %}
            <a href="#" class="subitemCadastro">{{alunos.nmUser}}</a>
        {%endfor%}
    </div>
</div>
<script src="/webfolioAdmin/assets/js/menuLateralCadastro.js"></script>
