<link rel="stylesheet" type="text/css" href="/webfolioAdmin/assets/css/menuLateral.css">
<script src="/webfolioAdmin/assets/js/menuLateral.js"></script>

<div class="bodyMenu">
  <img  id="logo" src="../assets/img/LogoFolio.png">
  <a class="item" href="{{web_dir}}home">início</a>

  <a class="item" onclick="submenu()">usuários<div class="arrow"></div></a>
  <div id="submenuUsuario">
    <a href="{{web_dir}}administradores" class="subitem">administradores</a>
    <a href="{{web_dir}}propositores" class="subitem">propositores</a>
  </div>

  <a class="item" href="{{web_dir}}portfolios">portfólios</a>

  <a class="item" href="{{web_dir}}turmas">turmas</a>
</div>
