<!DOCTYPE html>
<html>
    <head>
        <!-- Standard Meta -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

        <title>Portfólios e Propositor</title>

        <script src="../node_modules/semantic-ui/node_modules/jquery/dist/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="../semantic/dist/semantic.min.css">

        <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../assets/css/cadastro.css">

    </head>

    <body>
        {{ include('menuLateral.html.twig') }}
        {{ include('menuLateralCadastro.html.twig') }}

        <div class="menuIcones">
          <div class="line"></div>
          <a href="#" class="linkCircle"><div class="circle" id="circleTurma"><img src="../assets/img/Turma.png" class="iconCircleMenu"></div></a>
          <a href="{{web_dir}}portfolioPropositor" class="linkCircle"><div class="circle" style="background-color: #9187c7;" id="circlePortProp"><img src="../assets/img/Portfólio e Propositores.png" class="iconCircleMenu"></div></a>
          <a href="{{web_dir}}tutores" class="linkCircle"><div class="circle" id="circleTutores"><img src="../assets/img/Tutores.png" class="iconCircleMenu" width="35" height="45"></div></a>
          <a href="{{web_dir}}alunos" class="linkCircle"><div class="circle" id="circleAlunos"><img src="../assets/img/menuAlunos.png" width="90" height="90"></div></a>
          <a href="{{web_dir}}tutoresAlunos" class="linkCircle"><div class="circle" id="circleTutoresAlunos"><img src="../assets/img/Turma.png" class="iconCircleMenu"></div></a>

          <div class="legenda" id="legendaTurmas">TURMA</div>
          <div class="legenda">PORTFÓLIOS E PROPOSITORES</div>
          <div class="legenda" id="legendaTutores">TUTORES</div>
          <div class="legenda" id="legendaAlunos">ALUNOS</div>
          <div class="legenda" id="legendaTutoresAlunos">TUTORES E ALUNOS</div>
        </div>

        <div class="cadastroPortProp">
          <div class="boxTitulo">
            <span class="titleBoxTitulo">Portfólio e Propositor</span><br><br>
              Aqui você adiciona um PORTFÓLIO e um PROPOSITOR a turma existente.<br>
              Ex: Turma A > Preceptor B > Portfólio C
          </div>
          <div class="arrastePortfolio">
            <div class="boxArrastar boxPortfolio" id="boxArrastar" ondrop="dropPort(event)" ondragover="allowDrop(event)">
              <div class="textArrastar">arraste e solte um<br>PORTFÓLIO</div>
              <img  class="logoArrastar" src="../assets/img/arraste.png">
            </div>
          </div>
          <div class="arrastePropositor">
            <div class="boxArrastar boxPropositor" id="boxArrastar" ondrop="dropProp(event)" ondragover="allowDrop(event)">
              {% if propositor is null %}
                <div class="textArrastar" >arraste e solte um<br>PROPOSITOR</div>
                <img  class="logoArrastar" src="../assets/img/arraste.png">
              {% else %}
                <div class="textArrastar" style="display: none;">arraste e solte um<br>PROPOSITOR</div>
                <img class="logoArrastar" src="../assets/img/arraste.png" style="display: none;">
                <div class="itemPropositor" id="{{propositor[0].idProposer}}">
                  <div class="infoPropositor">{{propositor[0].nmProposer}}</div>
                  <div class="removerItemPortProp">+</div>
                </div>
              {% endif %}
            </div>
          </div>
          <!-- <input type="submit" class="salvarPortfolioPropositor" value="SALVAR" onclick="salvarPortfolioPropositor();"> -->
          {{ form_start(formPortProp) }}

              {{form_row(formPortProp.IdProposer)}}

              {{form_row(formPortProp.IdPortfolios)}}
                <input type="submit" class="salvarPortfolioPropositor" value="SALVAR" >
          {{ form_end(formPortProp) }}


        </div>


    </body>
</html>
<script src="{{web_dir}}../assets/js/portfolioPropositor.js"></script>
