<!DOCTYPE html>
<html>
    <head>
        <!-- Standard Meta -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

        <title>Propositores</title>

        <script src="/webfolioAdmin/node_modules/semantic-ui/node_modules/jquery/dist/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/webfolioAdmin/semantic/dist/semantic.min.css">

        <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/webfolioAdmin/assets/css/registroUsuarios.css">
    </head>

    <body>
        {{ include('menuLateral.html.twig') }}
        <div id="header">
            <img src="../assets/img/person-branco.png" id="iconPessoa">
            <span id="titulo">PROPOSITORES</span>
        </div>
        <div id="pesquisa">
          <img src="../assets/img/lupa.png" id="iconLupa" title="Pesquisar">
          <input type="text" placeholder="Procurar Propositor" id="inputPesquisa">
          <div class="ui medium button" id="addUser" onclick="addUser();">NOVO PROPOSITOR</div>
        </div>

       <div id="formEditUser" style="display:none;">
          {{ form_start(formPropositor) }}
              <div class="ui grid">
                  <div class="twelve wide column grid">
                    <div class="rowEditar">
                        <img src="../assets/img/person-branco.png" class="iconesFormEditar">
                        {{form_row(formPropositor.NmUser, { 'attr' : { 'placeholder' : 'Nome' , 'class': 'formEditar'  }})}}
                    </div>

                    <div class="rowEditar">
                        <img src="../assets/img/arroba.png" class="iconesFormEditar">
                        {{form_row(formPropositor.DsEmail, { 'attr' : { 'placeholder' : 'E-mail' , 'class': 'formEditar'  }})}}{#TO-DO: precisa de ajustes para o formulario do controller#}
                    </div>

                    <div class="rowEditar">
                        <img src="../assets/img/lock.png" class="iconesFormEditar">
                        {{form_row(formPropositor.DsPassword, { 'attr' : { 'placeholder' : 'Senha' , 'class': 'formEditar'  }})}}
                    </div>

                    <div class="rowEditar">
                        <img src="../assets/img/lock.png" class="iconesFormEditar">
                        {{form_row(formPropositor.DsPasswordConfirm, { 'attr' : { 'placeholder' : 'Confirmar Senha' , 'class': 'formEditar'  }})}}
                    </div>
                </div>

                <div class="four wide column grid"  id="colunaDireita">
                    <div class="rowEditar">
                        <img src="../assets/img/phone.png" class="iconesFormEditarRight">
                        {{form_row(formPropositor.NuCellphone, { 'attr' : { 'placeholder' : 'Celular' , 'class': 'formEditarRight'  }})}}
                    </div>
                    <div class="rowEditar">
                        <img src="../assets/img/rg.png" class="iconesFormEditarRight">
                        {{form_row(formPropositor.NuIdentification, { 'attr' : { 'placeholder' : 'RG' , 'class': 'formEditarRight'  }})}}
                    </div>
                    {{form_row(formPropositor.IdUser, { 'attr' : { 'placeholder' : 'RG' , 'class': 'formEditarRight'  }})}}
                    <input type="submit" id="salvarEdicao" value="SALVAR">
                    <div id="closeEditar">+</div>
                </div>
            </div>
            {{ form_end(formPropositor) }}
        </div>


        <div class="divAddUser">
            {{ form_start(formAddPropositor) }}
            <div class="ui grid">
                <div class="twelve wide column grid">
                    <div class="rowEditar">
                        <img src="../assets/img/person-branco.png" class="iconesFormEditar">
                        {{form_row(formAddPropositor.NmUser, { 'attr' : { 'placeholder' : 'Nome', 'class': 'formEditar'  }})}}
                    </div>

                    <div class="rowEditar">
                        <img src="../assets/img/arroba.png" class="iconesFormEditar">
                        {{form_row(formAddPropositor.DsEmail, { 'attr' : { 'placeholder' : 'E-mail' , 'class': 'formEditar'  }})}}
                    </div>

                    <div class="rowEditar">
                        <img src="../assets/img/lock.png" class="iconesFormEditar">
                        {{form_row(formAddPropositor.DsPassword, { 'attr' : { 'placeholder' : 'Senha' , 'class': 'formEditar'  }})}}
                    </div>

                    <div class="rowEditar">
                        <img src="../assets/img/lock.png" class="iconesFormEditar">
                        {{form_row(formAddPropositor.DsPasswordConfirm, { 'attr' : { 'placeholder' : 'Confirmar Senha' , 'class': 'formEditar'  }})}}
                    </div>
                </div>

                <div class="four wide column grid"  id="colunaDireita">
                    <div class="rowEditar">
                        <img src="../assets/img/phone.png" class="iconesFormEditarRight">
                        {{form_row(formAddPropositor.NuCellphone, { 'attr' : { 'placeholder' : 'Celular' , 'class': 'formEditarRight'  }})}}
                    </div>
                    <div class="rowEditar">
                        <img src="../assets/img/rg.png" class="iconesFormEditarRight">
                        {{form_row(formAddPropositor.NuIdentification, { 'attr' : { 'placeholder' : 'RG' , 'class': 'formEditarRight'  }})}}
                    </div>
                    <input type="submit" id="salvarEdicao" value="SALVAR" >
                    <div id="closeAdd" onclick="closeaddUser();">+</div>
                </div>
            </div>
            {{ form_end(formAddPropositor) }}
        </div>

        <h2 id="naoEncontrado">Nenhum resultado encontrado</h2>

        <div id="listaUsers">
            {% set i=0 %}
            {% for propositor in propositores %}
                {% if i is even %}                                              <!--Testa se é par ou ímpar só pra poder aplicar o CSS no item da lista-->
                    <div class="itemUserA itemUsuario">
                        <input type="checkbox" name="Propositor" value="{{propositor.idUser}}" id="{{i}}" class="checkboxUser"> <!--O id desse item tem que ser o contador pra que o checkbox funcione-->
                        <label for="{{i}}"></label>                             <!--Dentro desse for vai o id que foi colocado no checkbox pra que um fique ligado ao outro-->
                        <div class="nomeUser">{{propositor.nmUser}}</div>
                        <div class="emailUser">{{propositor.dsEmail}}</div>
                        <img src="../assets/img/buttonPencil.png" class="iconEditar" title="Editar propositor"
                              onclick='editarUser("{{i}}", "{{propositor.nmUser}}", "{{propositor.dsEmail}}",
                                         "{{propositor.nuIdentification  is empty ? 'null' :  propositor.nuIdentification}}",
                                         "{{propositor.nuCellphone is empty ? 'null' :  propositor.nuCellphone}}",
                                         "{{propositor.idUser}}")'>
                    </div>
                {% else %}
                    <div class="itemUserB itemUsuario">
                        <input type="checkbox" name="Propositor" value="{{propositor.idUser}}" id="{{i}}" class="checkboxUser">
                        <label for="{{i}}"></label>
                        <div class="nomeUser">{{propositor.nmUser}}</div>
                        <div class="emailUser">{{propositor.dsEmail}}</div>
                        <img src="../assets/img/buttonPencil.png" class="iconEditar" title="Editar propositor"
                             onclick='editarUser("{{i}}", "{{propositor.nmUser}}", "{{propositor.dsEmail}}",
                                         "{{propositor.nuIdentification  is empty ? 'null' :  propositor.nuIdentification}}",
                                         "{{propositor.nuCellphone is empty ? 'null' :  propositor.nuCellphone}}",
                                         "{{propositor.idUser}}")'>
                    </div>
                {% endif %}
                <div class="editarUser" id="{{i}}">
                </div>
                {% set i = i+1 %}
            {% endfor %}

            {%if propositores is empty %}
                <h2 id="userEmpty">Não há propositores cadastrados</h2>
            {%endif%}
        </div>
        <div id="excluirUsuario">
            <div id="titleExcluir">Excluir</div>
            <div id="mensagemExcluir">Tem certeza que deseja excluir esse propositor?</div>
            <div id="optionExcluir">
              <div id="cancelarExcluir" onclick="cancelarExcluir();">CANCELAR</div>
              <div id="confirmarExcluir">SIM</div>
            </div>
        </div>
        <div id="alertEditar">
            <div id="titleAlert">Descartar edição</div>
            <div id="mensagemAlert">As alterações feitas serão perdidas. Deseja voltar a editar esse propositor?</div>
            <div id="optionAlert">
              <div id="sairEditar">Sair</div>
              <div id="voltarEditar" onclick="cancelarFechar();">SIM</div>
            </div>
        </div>
        <div id="delete">
            <img src="../assets/img/lixo.png" id="iconDelete" title="Excluir item" onclick="excluirUser()">
        </div>
    </body>
</html>
<script src="../assets/js/registroUsuarios.js"></script>
