<!DOCTYPE html>
<html>
    <head>
        <!-- Standard Meta -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

        <title>Tutores</title>

        <script src="../node_modules/semantic-ui/node_modules/jquery/dist/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="../semantic/dist/semantic.min.css">

        <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../assets/css/cadastroUsuarios.css">
        <link rel="stylesheet" type="text/css" href="../assets/css/arquivosCadastroTurma.css">
        <link rel="stylesheet" type="text/css" href="../assets/css/cadastro.css">
    </head>

    <body>
        {{ include('menuLateral.html.twig') }}

        <div class="menuIcones">
          <div class="line"></div>
          <a href="#" class="linkCircle"><div class="circle" id="circleTurma"><img src="../assets/img/Turma.png" class="iconCircleMenu"></div></a>
          <a href="{{web_dir}}portfolioPropositor" class="linkCircle"><div class="circle" id="circlePortProp"><img src="../assets/img/Portfólio e Propositores.png" class="iconCircleMenu"></div></a>
          <a href="{{web_dir}}tutores" class="linkCircle"><div class="circle" id="circleTutores" style="background-color: #9187c7;"><img src="../assets/img/Tutores.png" class="iconCircleMenu" width="35" height="45"></div></a>
          <a href="{{web_dir}}alunos" class="linkCircle"><div class="circle" id="circleAlunos"><img src="{{web_dir}}../assets/img/alunos.png" class="iconCircleMenu"></div></a>
          <a href="{{web_dir}}tutoresAlunos" class="linkCircle"><div class="circle" id="circleTutoresAlunos"><img src="../assets/img/Turma.png" class="iconCircleMenu"></div></a>

          <div class="legenda" id="legendaTurmas">TURMA</div>
          <div class="legenda">PORTFÓLIOS E PROPOSITORES</div>
          <div class="legenda" id="legendaTutores">TUTORES</div>
          <div class="legenda" id="legendaAlunos">ALUNOS</div>
          <div class="legenda" id="legendaTutoresAlunos">TUTORES E ALUNOS</div>
        </div>
        <div class="cadastroPortProp">
          <div id="header">
              <img src="../assets/img/person-branco.png" id="iconPessoa">
              <span id="titulo">TUTORES</span>
          </div>
          <div id="pesquisa">
            <img src="../assets/img/lupa.png" id="iconLupa" title="Pesquisar">
            <input type="text" placeholder="Procurar Tutor" id="inputPesquisa">
            <div class="ui medium button" id="addUser" onclick="addUser();">NOVO TUTOR</div>
          </div>

         <div id="inputArquivos">
            <form class="box" method="post" action="{{web_dir}}carregarTutoresArquivo" enctype="multipart/form-data">
              <div class="boxInput">
                <label for="file" class="labelArquivos"><div id="divLabelArquivos">selecione</strong><span class="dragndropSpan"> ou arraste</span> um arquivo</div><img id="iconArrastar"src="../assets/img/arraste.png"/></label>
                <input class="selectArquivos" type="file" name="tutores" id="file"  accept=".csv" onchange="handleFileSelect(this.files)"/>
                <div class="nomeArquivo"></div>
                <div id="divButtonArquivos"><button class="buttonCarregar" type="submit" disabled >CARREGAR</button></div>
              </div>
              <div class="boxUploading">Carregando&hellip;</div>
              <div class="boxSuccess">Concluído!</div>
              <div class="boxError">Erro!<span></span></div>
            </form>
          </div>

        <div id="formEditUser" style="display:none;">
            {{ form_start(formTutor) }}
                <div class="ui grid" >
                    <div class="ten wide column grid">
                      <div class="rowEditar">
                          <img src="../assets/img/person-branco.png" class="iconesFormEditar">
                          {{form_row(formTutor.NmUser, { 'attr' : { 'placeholder' : 'Nome' , 'class': 'formEditar'  }})}}
                      </div>

                      <div class="rowEditar">
                          <img src="../assets/img/arroba.png" class="iconesFormEditar">
                          {{form_row(formTutor.DsEmail, { 'attr' : { 'placeholder' : 'E-mail' , 'class': 'formEditar'  }})}}{#TO-DO: precisa de ajustes para o formulario do controller#}
                      </div>

                      <div class="rowEditar">
                          <img src="../assets/img/lock.png" class="iconesFormEditar">
                          {{form_row(formTutor.DsPassword, { 'attr' : { 'placeholder' : 'Senha' , 'class': 'formEditar'  }})}}
                      </div>

                      <div class="rowEditar">
                          <img src="../assets/img/lock.png" class="iconesFormEditar">
                          {{form_row(formTutor.DsPasswordConfirm, { 'attr' : { 'placeholder' : 'Confirmar Senha' , 'class': 'formEditar'  }})}}
                      </div>
                  </div>

                  <div class="five wide column grid"  id="colunaDireita">
                      <div class="rowEditar">
                          <img src="../assets/img/phone.png" class="iconesFormEditarRight">
                          {{form_row(formTutor.NuCellphone, { 'attr' : { 'placeholder' : 'Celular' , 'class': 'formEditarRight'  }})}}
                      </div>
                      <div class="rowEditar">
                          <img src="../assets/img/rg.png" class="iconesFormEditarRight">
                          {{form_row(formTutor.NuIdentification, { 'attr' : { 'placeholder' : 'RG' , 'class': 'formEditarRight'  }})}}
                      </div>
                      {{form_row(formTutor.IdUser, { 'attr' : { 'placeholder' : 'RG' , 'class': 'formEditarRight'  }})}}
                      <input type="submit" id="salvarEdicao" value="SALVAR">
                      <div id="closeEditar">+</div>
                  </div>
              </div>
            {{ form_end(formTutor) }}
        </div>

          <div class="divAddUser">
              {{ form_start(formAddTutor) }}
              <div class="ui grid">
                  <div class="ten wide column grid">
                      <div class="rowEditar">
                          <img src="../assets/img/person-branco.png" class="iconesFormEditar">
                          {{form_row(formAddTutor.NmUser, { 'attr' : { 'placeholder' : 'Nome', 'class': 'formEditar'  }})}}
                      </div>

                      <div class="rowEditar">
                          <img src="../assets/img/arroba.png" class="iconesFormEditar">
                          {{form_row(formAddTutor.DsEmail, { 'attr' : { 'placeholder' : 'E-mail' , 'class': 'formEditar'  }})}}
                      </div>

                      <div class="rowEditar">
                          <img src="../assets/img/lock.png" class="iconesFormEditar">
                          {{form_row(formAddTutor.DsPassword, { 'attr' : { 'placeholder' : 'Senha' , 'class': 'formEditar'  }})}}
                      </div>

                      <div class="rowEditar">
                          <img src="../assets/img/lock.png" class="iconesFormEditar">
                          {{form_row(formAddTutor.DsPasswordConfirm, { 'attr' : { 'placeholder' : 'Confirmar Senha' , 'class': 'formEditar'  }})}}
                      </div>
                  </div>

                  <div class="five wide column grid" id="colunaDireita">
                      <div class="rowEditar">
                          <img src="../assets/img/phone.png" class="iconesFormEditarRight">
                          {{form_row(formAddTutor.NuCellphone, { 'attr' : { 'placeholder' : 'Celular' , 'class': 'formEditarRight'  }})}}
                      </div>
                      <div class="rowEditar">
                          <img src="../assets/img/rg.png" class="iconesFormEditarRight">
                          {{form_row(formAddTutor.NuIdentification, { 'attr' : { 'placeholder' : 'RG' , 'class': 'formEditarRight'  }})}}
                      </div>
                      <input type="submit" id="salvarAdd" value="SALVAR" >
                      <div id="closeAdd" onclick="closeaddUser();">+</div>
                  </div>
              </div>
              {{ form_end(formAddTutor) }}
          </div>

          <h2 id="naoEncontrado">Nenhum resultado encontrado</h2>

          <div id="listaUsers">
              {% set i=0 %}
              {% for tutor in tutores %}
                  {% if i is even %}                                              <!--Testa se é par ou ímpar só pra poder aplicar o CSS no item da lista-->
                      <div class="itemUserA itemUsuario">
                          <input type="checkbox" name="Tutor[]" value="{{tutor.idUser}}" id="T{{i}}" class="checkboxUser" onclick="addListaUser({{tutor.idUser}}); atualizaFormTutor();"> <!--O id desse item tem que ser o contador pra que o checkbox funcione-->
                          <label for="T{{i}}"></label>                             <!--Dentro desse for vai o id que foi colocado no checkbox pra que um fique ligado ao outro-->
                          <div class="nomeUser">{{tutor.nmUser}}</div>
                          <div class="emailUser">{{tutor.dsEmail}}</div>
                          <img src="../assets/img/buttonPencil.png" class="iconEditar" title="Editar tutor"
                                onclick='editarUser("T{{i}}", "{{tutor.nmUser}}", "{{tutor.dsEmail}}",
                                           "{{tutor.nuIdentification  is empty ? '' :  tutor.nuIdentification}}",
                                           "{{tutor.nuCellphone is empty ? '' :  tutor.nuCellphone}}",
                                           "{{tutor.idUser}}")'>
                      </div>
                  {% else %}
                      <div class="itemUserB itemUsuario">
                          <input type="checkbox" name="Tutor[]" value="{{tutor.idUser}}" id="T{{i}}" class="checkboxUser" onclick="addListaUser({{tutor.idUser}}); atualizaFormTutor();">
                          <label for="T{{i}}"></label>
                          <div class="nomeUser">{{tutor.nmUser}}</div>
                          <div class="emailUser">{{tutor.dsEmail}}</div>
                          <img src="../assets/img/buttonPencil.png" class="iconEditar" title="Editar tutor"
                               onclick='editarUser("T{{i}}", "{{tutor.nmUser}}", "{{tutor.dsEmail}}",
                                           "{{tutor.nuIdentification  is empty ? '' :  tutor.nuIdentification}}",
                                           "{{tutor.nuCellphone is empty ? '' :  tutor.nuCellphone}}",
                                           "{{tutor.idUser}}")'>
                      </div>
                  {% endif %}
                  <div class="editarUser" id="T{{i}}">
                  </div>
                  {% set i = i+1 %}
              {% endfor %}

              {%if tutores is empty %}
                  <h2 id="userEmpty">Não há tutores cadastrados</h2>
              {%endif%}
          </div>
          <div id="excluirUsuario">
              <div id="titleExcluir">Excluir</div>
              <div id="mensagemExcluir">Tem certeza que deseja remover esses tutores da turma?</div>
              <div id="optionExcluir">
                <div id="cancelarExcluir" onclick="cancelarExcluir();">CANCELAR</div>
                {{ form_start(formExcluirUser) }}
                    {{form_row(formExcluirUser.IdUsers)}}
                    <input type="submit" id="confirmarExcluir" value="SIM" >
                {{ form_end(formExcluirUser) }}
              </div>
          </div>
          {% if deleteException == false %}
            <div id="alertExcluirUsuario">
          {% else %}
            <div id="alertExcluirUsuario" style="display: block;">
          {% endif %}
              <div id="titleExcluir">Excluir</div>
              <div id="mensagemExcluir">Um dos usuários para deleção não pode ser excluído, pois está relacionado a outros registros.</div>
              <div id="optionExcluir">
                <div id="alertCancelarExcluir" onclick="cancelarAlertExcluir();">OK</div>
              </div>
          </div>
          <div id="alertEditar">
              <div id="titleAlert">Descartar edição</div>
              <div id="mensagemAlert">As alterações feitas serão perdidas. Deseja voltar a editar esse tutor?</div>
              <div id="optionAlert">
                <div id="sairEditar">Sair</div>
                <div id="voltarEditar" onclick="cancelarFechar();">SIM</div>
              </div>
          </div>
          <div id="delete">
              <img src="../assets/img/lixo.png" id="iconDelete" title="Excluir item" onclick="excluirUser()">
          </div>
        </div>
    </body>
</html>
<script>
function handleFileSelect(evt) {
  evt.stopPropagation();
  evt.preventDefault();

  var dt = evt.dataTransfer; // FileList object.
  var files = dt.files;
  console.log(files);
  console.log(files[0]);
  // files is a FileList of File objects. List some properties.
  uploadFile(files[0]);

  $('.buttonCarregar').prop('disabled', false);
  $('.box').css( "background-color", "rgba(255, 255, 255, 0.0)");
  $('.box').css( "border", "dashed 3px rgba(255, 255, 255, 0.6)");
}

function uploadFile(file) {
    var url = '{{web_dir}}carregarTutoresArquivo';
    var formData = new FormData();

    formData.append('file', file);

    fetch(url, {
      method: 'POST',
      body: formData
    })
    .then(() => { /* Done. Inform the user */ })
    .catch(() => { /* Error. Inform the user */ })
}
</script>
<script src="../assets/js/registroUsuarios.js"></script>
<script src="../assets/js/adicionarArquivo.js"></script>
<script src="../assets/js/deletarRegistro.js"></script>
